@keyframes animateCheck {
  0% {
    color: rgba(187,255,184,1);
  }
  25% {
    color: rgba(187,255,184,0.5);
  }  
  50% {
    color: rgba(187,255,184,0.1);
  }
  75% {
    color: rgba(187,255,184,0.5);
  }
  100% {
    color: rgba(187,255,184,1);
  }
}

.check.icon {
  color: rgba(187,255,184,1);
}

li:hover .check.icon {
  animation-name: animateCheck;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
}